/** grid16*50+15*9+2*10**/
@import url('reset.css');
@import url('calendar.css');

html {
	border-top: 140px solid #FEFEFE;
}
body {
	font: 0.84em/1.333 Helvetica, Arial, Verdana, sans-serif;
	background-color: #D5D5D5;
	color: #1C1C1C;
	margin-top: -140px;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.3em;
}
a {
	color: #CA3028;
	padding: 1px;
}
a:hover {
	color: #fff;
	background: #CA3028;
}
strong {
	font-weight: bold;
	background: #EEEBE3;
	padding: 1px;
}
small {
	font-size: 0.7em;
}
.clear {
	clear: both;
}
#box {
	width: 955px;
	margin: 0 auto;
	background: #f2f2f2;
	overflow: hidden;
}
#header {
	background: #CA3028 url('/images/header.gif') 0 -10px;
	_border-top: 6px solid #CA3028;
	color: #fff;
	height: 115px;
	float: left;
}
#header h1 a {
	padding: 0;
	display: block;
	width: 955px;
	height: 115px;
}
#header h1 a:hover {
	background: none;
}
#header h1 a span {
	display: none;
}
#content {
	margin: 10px;
	float: left;
}
#content ul.menu {
	width: 100%;
	float: left;
}
#content ul.menu li {
	float: left;
}
#content #notice, #content #error, #errorExplanation {
	padding: 5px 10px;
	float: left;
	color: #fff;
}
#content #notice {
	background: #53995C;
}
#content #error, #errorExplanation, .fieldWithErrors input {
	background: #CA3028;
}
#content ul.users li {
	float: left;
	margin: 0 0 1.9px 1.9px;
}
#content ul.users li a {
	padding: 0;
	float: left;
}
#content ul.users li a:hover {
	background: none;
}
#content ul.events li span {
	color: #858585;
}
#content ul.jobs li span {
	color: #858585;
}
#footer {
	float: left;
	width: 100%;
	padding: 10px;
	background: #131313;
}
#footer p {
	font-size: 1.5em;
	color: #F2F2F2;
}
#footer a {
	font-size: 3.8em;
	padding: 0;
	margin-left: 50px;
}
/** Por ordenadr **/
#map {
	float: left;
	margin: 0 0 0 -10px;
}
.markdown h1 {
	font-size: 1.2em;
	font-weight: bold;
}
.markdown h2 {
	font-size: 1em;
	font-weight: bold;
}
.left, .right {
	float: left;
}
.right {
	margin-left: 9px;
}
.grid2 {
	width: 109px;
}
.grid3 {
	width: 168px;
}
.grid4 {
	width: 227px;
}
.grid5 {
	width: 286px;
}
.grid6 {
	width: 345px;
}
.grid7 {
	width: 404px;
}
.grid9 {
	width: 522px;
}
.grid16 {
	width: 935px;
}