/** grid16*40+15*20+2*10 **/
@import url('reset.css');
@import url('calendar.css');

html {
	border-top: 140px solid #FEFEFE;
}
body {
	font: 0.84em/1.333 Helvetica, Arial, Verdana, sans-serif;
	background-color: #D5D5D5;
	color: #1C1C1C;
	margin-top: -140px;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.3em;
}
h4 {
	font-size: 1.2em;
}
a {
	color: #CA3028;
	padding: 1px;
}
a:hover {
	color: #fff;
	background: #CA3028;
}
strong {
	font-weight: bold;
	background: #EEEBE3;
	padding: 1px;
}
small {
	font-size: 0.7em;
}
.clear {
	clear: both;
}
#box {
	width: 960px;
	margin: 0 auto;
	background: #f2f2f2;
	overflow: hidden;
}
#header {
	background: #CA3028 url('/images/header.gif') 0 -10px;
	color: #fff;
	height: 115px;
	float: left;
}
#header h1 a {
	padding: 0;
	display: block;
	width: 960px;
	height: 115px;
}
#header h1 a:hover {
	background: none;
}
#header h1 a span {
	display: none;
}
#content {
	margin: 10px;
	float: left;
}
#content ul.menu {
	float: left;
	margin-bottom: 10px;
}
#content ul.menu li {
	float: left;
	margin-right: 10px;
}
#content ul.menu li a {
	display: block;
	background: url('/images/menu_button.gif');
	padding: 6px 0px 6px 10px;
	color: #f2f2f2;
}
#content ul.menu li a span {
	display: block;
	float: right;
	padding: 6px 0;
	margin-top: -6px;
	width: 10px;
	background: #f2f2f2 url('/images/menu_button.gif') -226px 0;
}
#content ul.menu li a:hover, #content ul.menu li a.selected {
	background-position: 0 -30px;
}
#content ul.menu li a:hover span, #content ul.menu li a.selected span {
	background-position: -226px -30px;
}
#content ul.menu .login {
	float: right;
	border-left: 1px solid #DDD;
}
#content ul.menu .login li {
	height: 28px;
}
#content ul.menu .login li span {
	padding: 6px 0;
	float: left;
}
#content ul.menu .login .border {
	margin:0 10px 0 0;
	padding: 0;
	border-left: 1px solid #fff;
}
#content ul.menu .login li a {
	display: inline;
	float: left;
	padding: 6px;
	background: none;
	color: #CA3028;
}
#content ul.menu .login li a:hover, #content ul.menu .login li a.selected {
	background: #CA3028;
	color: #f2f2f2;
}
#content #notice, #content #error, #errorExplanation {
	padding: 5px 10px;
	float: left;
	color: #fff;
}
#content #notice {
	background: #53995C;
}
#content #error, #errorExplanation, .fieldWithErrors input {
	background: #CA3028;
}
#content ul.users li {
	float: left;
	margin: 0 0 1.9px 1.9px;
}
#content ul.users li a {
	padding: 0;
	float: left;
}
#content ul.users li a:hover {
	background: none;
}
#content ul.events li span {
	color: #858585;
}
#content ul.jobs li span {
	color: #858585;
}
#content .jobs h2 small, #content .events h2 small {
	float: right;
	margin-right: 15px;
}
#content .jobs dl {
	float: left;
	background: #E9E9E9;
	border: 1px solid #D8D8D8;
	padding: 10px;
	width: 258px;
}
#content .jobs dt {
	float:left;
	padding:7.5px 0;
	clear: both;
}
#content .jobs dd {
	border-bottom:1px solid #D4D4D4;
	color:#A6A6A6;
	display:block;
	padding:7px 0;
	text-align:right;
}
#content .jobs dd.company {
	text-align: left;
	border: 0;
	padding-bottom: 0px;
	font-size: 1.4em;
	color: #292929;
}
#content .jobs dd.date {
	padding: 0 0 30px 0;
	text-align: left;
}
#footer {
	float: left;
	padding: 10px;
	background: #131313;
	color: #F2F2F2;
}
#footer p.promo {
	font-size: 1.5em;
}
#footer a.promo {
	font-size: 3.8em;
	padding: 0;
	margin-left: 50px;
}
/** Por ordenadr **/
#map {
	float: left;
	margin: 0 0 0 -10px;
}
.markdown h1 {
	font-size: 1.2em;
	font-weight: bold;
}
.markdown h2 {
	font-size: 1em;
	font-weight: bold;
}
.markdown ul li {
	list-style: square inside;
}
.markdown ol li {
	list-style: decimal inside;
}
.left, .right {
	float: left;
}
.right {
	margin-left: 20px;
}
.grid2 {
	width: 100px;
}
.grid3 {
	width: 160px;
}
.grid4 {
	width: 220px;
}
.grid5 {
	width: 280px;
}
.grid6 {
	width: 340px;
}
.grid7 {
	width: 400px;
}
.grid9 {
	width: 520px;
}
.grid11 {
	width: 640px;
}
.grid16 {
	width: 940px;
}