<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>User company:</b>
  <%= link_to @user.company.name, company_path(@user.company.id) unless @user.company.nil? %>
  <%= link_to 'New company', new_company_path if @user.company.nil? %>
</p>