<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>BarcelonaOnRails</title>
    <link href="/stylesheets/under_construction.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="under_construction">
      <h1>BarcelonaOnRails</h1>

      <span>Under construction</span>
      <p>We are working on the development of our website, meanwhile visit us on our group: <a href="http://groups.google.com/group/barcelonaonrails" title="BarcelonaOnRails">BarcelonaOnRails</a></p>
    </div>
  </body>
</html>